.cardAdditionBlog{
    margin-top: 25px;
    background: #FFFFFF;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.16);
    border-radius: 20px;
    padding-bottom: 50px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 30px;
}.barVertical{
    margin-top: 13px;
    margin-bottom: 25px;
    border: 1px solid #E9EDF7
}
.inputText{
    
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
color: #222222;
}
.mr72{
    margin-right: 72px;
}
.mrDynamic{
    margin-right: 280px;
}
.savebtn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 152px;
    height: 46px;
    background: #5DB135;
    border-radius: 8px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
}

.duplicateBtn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 207px;
    height: 46px;
    background: #FE5000;
    border-radius: 8px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
}
.rowing{
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.savebtn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 152px;
    height: 46px;
    background: #5DB135;
    border-radius: 8px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
}
.ml{
    margin-left: 20px;
}
.overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }