.timeLabel{
    
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 15px;
/* identical to box height */

letter-spacing: -0.02em;

color: #9C9C9C;
}
.capsule{
    width: 102.41px;
    height: 25px;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
}
