.exerciseStatusCapsule{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
/* padding: 4px 18px; */
 width: 85.76px;
height: 25px;
border-radius: 50px;
}
.pNameUnderline{
    text-decoration-line: underline;
  color: #F94F00;
  cursor: pointer;
  }